<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <Property name="LOGGING_HOME">${sys:peach.logging.home:-log}</Property>
        <Property name="CONSOLE_LEVEL">${sys:peach.logging.console.level:-INFO}</Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%logger{1}/%t] [%level]: %msg%n%xEx"/>
        </Console>
        <RollingRandomAccessFile name="File"
                                 immediateFlush="false"
                                 append="false"
                                 fileName="${LOGGING_HOME}/latest.log"
                                 filePattern="${LOGGING_HOME}/%d{yyyy_MM_dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%logger{1}/%t] [%level]: %msg%n%xEx"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${LOGGING_HOME}">
                    <IfFileName glob="*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="${CONSOLE_LEVEL}"/>
            <AppenderRef ref="File" level="INFO"/>
        </Root>
    </Loggers>
</configuration>