<plugin>
    <id>peach</id>
    <name>PEACH</name>

    <extensionPoints>
        <extensionPoint name="applicationService" beanClass="com.github.mouse0w0.peach.service.ServiceDescriptor"/>
        <extensionPoint name="projectService" beanClass="com.github.mouse0w0.peach.service.ServiceDescriptor"/>
        <extensionPoint name="localization" beanClass="com.github.mouse0w0.peach.l10n.L10nEP"/>
        <extensionPoint name="iconDefinition" beanClass="com.github.mouse0w0.peach.icon.IconDefinitionEP"/>
        <extensionPoint name="view" beanClass="com.github.mouse0w0.peach.view.ViewEP"/>
        <extensionPoint name="fileAppearance" interface="com.github.mouse0w0.peach.file.FileAppearance"/>
        <extensionPoint name="fileEditorProvider" interface="com.github.mouse0w0.peach.fileEditor.FileEditorProvider"/>
        <extensionPoint name="newProjectProvider" interface="com.github.mouse0w0.peach.newProject.NewProjectProvider"/>
        <extensionPoint name="statusBarWidgetProvider"
                        interface="com.github.mouse0w0.peach.window.status.StatusBarWidgetProvider"/>

        <extensionPoint name="vanillaData" beanClass="com.github.mouse0w0.peach.mcmod.vanillaData.VanillaDataEP"/>
    </extensionPoints>

    <extensions namespace="peach">
        <applicationService interface="com.github.mouse0w0.peach.service.store.ServiceStore"
                            implementation="com.github.mouse0w0.peach.service.store.AppServiceStore"/>
        <applicationService interface="com.github.mouse0w0.peach.plugin.PluginManager"
                            implementation="com.github.mouse0w0.peach.plugin.PluginManagerImpl"/>
        <applicationService interface="com.github.mouse0w0.peach.l10n.L10nManager"
                            implementation="com.github.mouse0w0.peach.l10n.L10nManagerImpl"/>
        <applicationService interface="com.github.mouse0w0.peach.icon.IconManager"
                            implementation="com.github.mouse0w0.peach.icon.IconManagerImpl"/>
        <applicationService interface="com.github.mouse0w0.peach.icon.SVGIconRenderer"
                            implementation="com.github.mouse0w0.peach.icon.SVGIconRendererImpl"/>
        <applicationService interface="com.github.mouse0w0.peach.data.DataManager"
                            implementation="com.github.mouse0w0.peach.data.DataManagerImpl"/>
        <applicationService interface="com.github.mouse0w0.peach.action.ActionManager"
                            implementation="com.github.mouse0w0.peach.action.ActionManagerImpl" preload="true"/>
        <applicationService interface="com.github.mouse0w0.peach.window.WindowManager"
                            implementation="com.github.mouse0w0.peach.window.WindowManagerImpl"/>
        <applicationListener topic="ProjectLifecycleListener"
                             listener="com.github.mouse0w0.peach.window.WindowManagerImpl$Listener"/>
        <applicationService interface="com.github.mouse0w0.peach.windowState.WindowStateService"
                            implementation="com.github.mouse0w0.peach.windowState.WindowStateServiceImpl"/>
        <applicationService interface="com.github.mouse0w0.peach.recentProject.RecentProjectsManager"
                            implementation="com.github.mouse0w0.peach.recentProject.RecentProjectsManagerImpl"/>
        <applicationService implementation="com.github.mouse0w0.peach.fileChooser.FileChooserHelper"/>
        <applicationService interface="com.github.mouse0w0.peach.project.ProjectManager"
                            implementation="com.github.mouse0w0.peach.project.ProjectManagerImpl"/>
        <applicationService interface="com.github.mouse0w0.peach.window.status.StatusBarWidgetManager"
                            implementation="com.github.mouse0w0.peach.window.status.StatusBarWidgetManagerImpl"/>

        <projectService interface="com.github.mouse0w0.peach.service.store.ServiceStore"
                        implementation="com.github.mouse0w0.peach.service.store.ProjectServiceStore"/>
        <projectService implementation="com.github.mouse0w0.peach.fileWatch.ProjectFileWatcher" preload="true"/>
        <projectService interface="com.github.mouse0w0.peach.windowState.WindowStateService"
                        implementation="com.github.mouse0w0.peach.windowState.WindowStateServiceImpl"/>
        <projectService implementation="com.github.mouse0w0.peach.fileChooser.FileChooserHelper"/>
        <projectService interface="com.github.mouse0w0.peach.fileEditor.FileEditorManager"
                        implementation="com.github.mouse0w0.peach.fileEditor.FileEditorManagerImpl"/>

        <statusBarWidgetProvider id="Text" implementation="com.github.mouse0w0.peach.window.status.TextWidget$Provider"
                                 order="first"/>
        <applicationListener topic="AppLifecycleListener"
                             listener="com.github.mouse0w0.peach.window.status.TextWidget$Listener"/>

        <projectService implementation="com.github.mouse0w0.peach.projectView.ProjectView"/>
        <view id="Project" icon="View.Project" position="LEFT_TOP"
              factory="com.github.mouse0w0.peach.projectView.ProjectView$Factory"/>

        <fileAppearance implementation="com.github.mouse0w0.peach.file.StandardFileAppearance" order="last"/>

        <localization locale="zh-CN" path="l10n/zh-CN.properties"/>

        <iconDefinition path="icons.properties"/>

        <!-- Minecraft Mod Development -->
        <applicationService interface="com.github.mouse0w0.peach.mcmod.vanillaData.VanillaDataManager"
                            implementation="com.github.mouse0w0.peach.mcmod.vanillaData.VanillaDataManagerImpl"
                            preload="true"/>
        <applicationService implementation="com.github.mouse0w0.peach.mcmod.element.ElementRegistry" preload="true"/>

        <projectService implementation="com.github.mouse0w0.peach.mcmod.project.ModProjectService" preload="true"/>
        <projectService interface="com.github.mouse0w0.peach.mcmod.ui.control.ItemTooltipService"
                        implementation="com.github.mouse0w0.peach.mcmod.ui.control.ItemTooltipServiceImpl"/>

        <fileAppearance implementation="com.github.mouse0w0.peach.mcmod.file.McModFileAppearance"/>

        <fileEditorProvider implementation="com.github.mouse0w0.peach.mcmod.fileEditor.MetadataFileEditorProvider"/>
        <fileEditorProvider implementation="com.github.mouse0w0.peach.mcmod.fileEditor.ElementFileEditorProvider"/>

        <newProjectProvider implementation="com.github.mouse0w0.peach.mcmod.newProject.ForgeNewProjectProvider"/>
    </extensions>

    <actions>
        <group id="New" popup="true">
            <action id="NewModElement" icon="File.ModElement"
                    class="com.github.mouse0w0.peach.mcmod.action.NewModElementAction"/>
            <action id="NewFile" icon="File.File"
                    class="com.github.mouse0w0.peach.action.file.NewFileAction"/>
            <action id="NewDirectory" icon="File.Folder"
                    class="com.github.mouse0w0.peach.action.file.NewDirectoryAction"/>
            <separator/>
            <action id="NewProject" class="com.github.mouse0w0.peach.action.file.NewProjectAction"/>
        </group>

        <group id="CutCopyPaste">
            <action id="Cut" icon="Action.Cut"
                    class="com.github.mouse0w0.peach.action.edit.CutAction"/>
            <action id="Copy" icon="Action.Copy"
                    class="com.github.mouse0w0.peach.action.edit.CopyAction"/>
            <action id="Paste" icon="Action.Paste"
                    class="com.github.mouse0w0.peach.action.edit.PasteAction"/>
        </group>

        <group id="MainMenu">
            <group id="File" popup="true">
                <reference id="New"/>
                <action id="OpenProject" icon="Action.OpenProject"
                        class="com.github.mouse0w0.peach.action.file.OpenProjectAction"/>
                <group id="RecentProjects" popup="true"
                       class="com.github.mouse0w0.peach.action.file.RecentProjectsGroup"/>
                <action id="CloseProject"
                        class="com.github.mouse0w0.peach.action.file.CloseProjectAction"/>
                <separator/>
                <action id="OpenSettings"/>
                <action id="OpenProjectSettings" icon="Action.ProjectSettings"
                        class="com.github.mouse0w0.peach.mcmod.action.OpenProjectSettingsAction"/>
                <separator/>
                <action id="Exit" class="com.github.mouse0w0.peach.action.file.ExitAction"/>
            </group>

            <group id="Build" popup="true">
                <action id="ExportProject" icon="Action.ExportProject"
                        class="com.github.mouse0w0.peach.mcmod.action.ExportProjectAction"/>
            </group>

            <group id="Help" popup="true">
                <action id="About"/>
                <action id="Donate" icon="Action.Donate"
                        class="com.github.mouse0w0.peach.action.help.DonateAction"/>
            </group>
        </group>

        <group id="ProjectViewPopupMenu" popup="true">
            <reference id="New"/>
            <separator/>
            <reference id="CutCopyPaste"/>
            <separator/>
            <action id="Rename"
                    class="com.github.mouse0w0.peach.action.edit.RenameAction"/>
            <action id="Delete"
                    class="com.github.mouse0w0.peach.action.edit.DeleteAction"/>
            <separator/>
            <action id="ShowInExplorer"
                    class="com.github.mouse0w0.peach.action.file.ShowInExplorerAction"/>
        </group>

        <group id="WelcomeWindow.RecentProjects" popup="true">
            <action id="WelcomeWindow.RecentProjectOpen"
                    class="com.github.mouse0w0.peach.welcome.RecentProjectOpenAction"/>
            <action id="WelcomeWindow.RecentProjectRemove"
                    class="com.github.mouse0w0.peach.welcome.RecentProjectRemoveAction"/>
        </group>

        <group id="StatusBarPopupMenu" popup="true">
            <group id="StatusBarWidgetGroup"
                   class="com.github.mouse0w0.peach.window.status.StatusBarWidgetGroup"/>
        </group>
    </actions>
</plugin>