.grid-view .grid-cell:hover {
    -fx-background-color: #d9d9d9;
}

.grid-view .grid-cell:selected,
.grid-view .grid-cell:focused {
    -fx-background-color: #cccccc;
}

.button-bar {
    -fx-padding: 12px;
}