.root {
    -peach-foreground-color: #ffffff;
    -peach-background-color: #f2f2f2; /* gray 95% */
    -peach-hover-color: #d9d9d9; /* gray 85% */
    -peach-border-color: #cccccc; /* gray 80% */
    -peach-focused-color: #0096c9;
}

/* Welcome */
#project-list,
#project-list:focused {
    -fx-background-color: -peach-foreground-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#project-list:focused .list-cell:filled:selected,
#project-list:focused .list-cell:odd:filled:selected {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}

#project-list .list-cell:odd,
#project-list:focused .list-cell:odd {
    -fx-background-color: -peach-foreground-color;
}

#project-list .list-cell.path-not-exists {
    -fx-text-fill: red;
}

#welcome .button {
    -fx-background-color: transparent;
}

#welcome .button:hover,
#welcome .button:focused {
    -fx-text-fill: #0096c9;
}

#welcome #version {
    -fx-padding: 0.5em;
    -fx-text-fill: #808080;
}

.menu-bar {
    -fx-background-color: -peach-border-color, -peach-background-color;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.tab-pane {
    -fx-open-tab-animation: none;
    -fx-close-tab-animation: none;
}

.tab-pane > .tab-header-area > .tab-header-background,
.view-pane > .side-bar-area {
    -fx-background-color: -peach-background-color;
    -fx-background-insets: 0;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.tab {
    -fx-padding: 0.25em 1em 0.25em 1em;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.tab:hover {
    -fx-background-color: -peach-hover-color, -peach-border-color;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.tab:selected {
    -fx-background-color: -peach-focused-color, -peach-foreground-color;
    -fx-background-insets: 0 0 0 0, 0 0 4 0;
}

.tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-border-insets: 0;
}

.tab-pane > .tab-content-area {
    -fx-background-color: -peach-foreground-color;
}

.tooltip {
    -fx-font-size: 1em;
}

/*noinspection CssInvalidPseudoSelector*/
:invalid {
    -fx-effect: dropshadow(three-pass-box, darkred, 6, 0, 0, 0);
}

/*noinspection CssInvalidPseudoSelector*/
:invalid:focused {
    -fx-effect: null;
}

#status-bar {
    -fx-background-color: -peach-border-color, -peach-background-color;
    -fx-background-insets: 0 0 0 0, 1 0 0 0;
    -fx-padding: 1 8 0 8;
    -fx-pref-height: 1.75em;
}

#project-view,
#project-view:focused,
#item-favorites,
#item-favorites:focused {
    -fx-padding: 0;
    -fx-background-color: -peach-foreground-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#project-view .tree-cell {
    -fx-padding: 0.25em 0 0.25em 0.25em;
}

#project-view .tree-cell:filled:selected,
#project-view .tree-cell:focused {
    -fx-background-color: -peach-border-color;
    -fx-text-fill: black;
}

#project-view:focused .tree-cell:filled:selected,
#project-view:focused .tree-cell:focused {
    -fx-background-color: -peach-focused-color, -peach-border-color;
    -fx-background-insets: 0 0 0 0, 0 0 0 4;
    -fx-text-fill: black;
}

#project-view .tree-cell:filled:selected > .tree-disclosure-node > .arrow,
#project-view .tree-cell:focused > .tree-disclosure-node > .arrow {
    -fx-background-color: black;
}

#project-view .tree-cell:drop-hover {
    -fx-background-color: -peach-focused-color;
    -fx-text-fill: white;
}

/*.item-view .tooltip {*/
/*    -fx-background: none;*/
/*    -fx-text-fill: white;*/
/*    -fx-background-color: #100001f0, #100001f0, #5000ff50, #100001f0;*/
/*    -fx-background-radius: 0;*/
/*    -fx-background-insets: 4 0 4 0, 0 4 0 4, 4 4 4 4, 8 8 8 8;*/
/*    -fx-padding: 12px;*/
/*    -fx-effect: none;*/
/*    -fx-font-size: 16px;*/
/*}*/

.item-picker,
.item-stack-view > .item {
    -fx-background-color: -peach-background-color;
}

.item-picker:hover,
.item-stack-view:hover > .item {
    -fx-background-color: -peach-hover-color;
}

.minecraft-style .item-picker,
.minecraft-style .item-stack-view > .item {
    -fx-background-color: transparent;
}

.minecraft-style .item-picker:hover,
.minecraft-style .item-stack-view:hover > .item {
    -fx-background-color: #c5c5c5;
}

.file-editor > .button-bar {
    -fx-padding: 0.75em;
}

.file-editor > .button-bar > .button,
.wizard > .button-bar > .button {
    -fx-min-width: 50;
}

.form-view > .scroll-pane > .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}