.root {
    -peach-foreground-color: #ffffff;
    -peach-background-color: #f2f2f2; /* gray(242) 95% */
    -peach-hover-color: #e6e6e6; /* gray(230) 90% */
    -peach-focus-color: #d9d9d9; /* gray(217) 85% */
    -peach-border-color: #cccccc; /* gray(204) 80% */
}

.menu-bar {
    -fx-background-color: -peach-border-color, -peach-background-color;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.tab-pane {
    -fx-open-tab-animation: none;
    -fx-close-tab-animation: none;
}

.tab-pane > .tab-header-area > .tab-header-background,
.view-pane > .side-bar-area {
    -fx-background-color: -peach-background-color;
    -fx-background-insets: 0;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.tab {
    -fx-padding: 0.25em 1em 0.25em 1em;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.tab:hover {
    -fx-background-color: -peach-hover-color;
    -fx-background-insets: 0;
}

.tab:selected {
    -fx-background-color: -peach-foreground-color;
    -fx-background-insets: 0;
}

.tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-border-insets: 0;
}

.tab-pane > .tab-content-area {
    -fx-background-color: -peach-foreground-color;
}

.tooltip {
    -fx-font-size: 1em;
}

/*noinspection CssInvalidPseudoSelector*/
:invalid {
    -fx-effect: dropshadow(three-pass-box, darkred, 6, 0, 0, 0);
}

/*noinspection CssInvalidPseudoSelector*/
:invalid:focused {
    -fx-effect: null;
}

#status-bar {
    -fx-background-color: -peach-border-color, -peach-background-color;
    -fx-background-insets: 0 0 0 0, 1 0 0 0;
    -fx-padding: 1 8 0 8;
    -fx-pref-height: 1.75em;
}

#project-view,
#project-view:focused,
#item-favorites,
#item-favorites:focused {
    -fx-padding: 0;
    -fx-background-color: -peach-foreground-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#project-view .tree-cell {
    -fx-padding: 0.25em 0 0.25em 0.25em;
}

#project-view .tree-cell:filled:selected,
#project-view .tree-cell:focused {
    -fx-background-color: -peach-hover-color;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

#project-view:focused .tree-cell:filled:selected,
#project-view:focused .tree-cell:focused {
    -fx-background-color: -peach-focus-color;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

#project-view .tree-cell:filled:selected > .tree-disclosure-node > .arrow,
#project-view .tree-cell:focused > .tree-disclosure-node > .arrow {
    -fx-background-color: black;
}

#project-view .tree-cell:drop-hover {
    -fx-background-color: -peach-focus-color;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

/*.item-view .tooltip {*/
/*    -fx-background: none;*/
/*    -fx-text-fill: white;*/
/*    -fx-background-color: #100001f0, #100001f0, #5000ff50, #100001f0;*/
/*    -fx-background-radius: 0;*/
/*    -fx-background-insets: 4 0 4 0, 0 4 0 4, 4 4 4 4, 8 8 8 8;*/
/*    -fx-padding: 12px;*/
/*    -fx-effect: none;*/
/*    -fx-font-size: 16px;*/
/*}*/

.item-picker,
.item-stack-view > .item {
    -fx-background-color: -peach-background-color;
}

.item-picker:hover,
.item-stack-view:hover > .item {
    -fx-background-color: -peach-hover-color;
}

.minecraft-style .item-picker,
.minecraft-style .item-stack-view > .item {
    -fx-background-color: transparent;
}

.minecraft-style .item-picker:hover,
.minecraft-style .item-stack-view:hover > .item {
    -fx-background-color: #c5c5c5;
}

.minecraft-small-slot-32x {
    -fx-padding: 2px;
    -fx-background-color: #8b8b8b, #373737, #ffffff, #8b8b8b;
    -fx-background-insets: 0 0 0 0, 0 2 2 0, 2 0 0 2, 2 2 2 2;
}

.minecraft-small-slot-32x:hover {
    -fx-background-color: #8b8b8b, #373737, #ffffff, #c5c5c5;
    -fx-background-insets: 0 0 0 0, 0 2 2 0, 2 0 0 2, 2 2 2 2;
}

.minecraft-small-slot-32x:disabled {
    -fx-opacity: 0.4;
}

.form-view > .scroll-pane > .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

HBox.button-bar {
    -fx-spacing: 8px;
    -fx-padding: 0.833em;
    -fx-alignment: center-right;
}

HBox.button-bar > .button {
    -fx-min-width: 50;
}
