.root {
    -peach-background-color: #f2f2f2; /* gray 95% */
    -peach-hover-color: #d9d9d9; /* gray 85% */
    -peach-border-color: #cccccc; /* gray 80% */
    -peach-foreground-color: #ffffff;
}

.list-view,
.list-view:focused {
    -fx-background-color: -peach-foreground-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}

.button {
    -fx-background-color: transparent;
}

.button:hover,
.button:focused {
    -fx-text-fill: #0096c9;
}

.list-cell:odd {
    -fx-background-color: -peach-foreground-color;
}

#version {
    -fx-padding: 0.5em;
    -fx-text-fill: #808080;
}