.popup-alert > .content {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2;
    -fx-padding: 0.33em 0.5em 0.33em 0.5em;
}

.popup-alert > .content > .label {
    -fx-fill: black;
}

.popup-alert > .content > .close-button {
    -fx-padding: 3;
    -fx-background-color: #808080;
    -fx-shape: "M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z";
    -fx-min-width: 10;
    -fx-min-height: 10;
    -fx-max-width: 10;
    -fx-max-height: 10;
}
