@font-face {
    src: url("/font/Minecraft-Regular.otf");
}

.item-stack-view > .amount {
    /*-fx-font: 32px Minecraft;*/
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, #3f3f3f, 0, 0, 4, 4);
}