.grid-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.grid-view .grid-cell {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.grid-view .grid-cell:selected,
.grid-view .grid-cell:focused {
    -fx-background-color: #d9d9d9;
/ / gray 85 %
}