.file-picker {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.file-picker:focused {
    -fx-background-color: -fx-focus-color,
    -fx-control-inner-background,
    -fx-faint-focus-color,
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
}

.file-picker:disabled {
    -fx-opacity: 0.4;
}

.file-picker > .editor {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}

.file-picker > .editor:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-prompt-text-fill: transparent;
}

.file-picker > .open-button,
.file-picker > .clear-button {
    -fx-padding: 0 0.5em 0 0;
}

.file-picker > .open-button > .open {
    -fx-background-color: #616161;
    -fx-shape: "M19,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4H10L12,6H19A2,2 0 0,1 21,8H21L4,8V18L6.14,10H23.21L20.93,18.5C20.7,19.37 19.92,20 19,20Z";
    -fx-min-width: 15px;
    -fx-min-height: 12px;
    -fx-pref-width: 15px;
    -fx-pref-height: 12px;
    -fx-max-width: 15px;
    -fx-max-height: 12px;
}

.file-picker > .clear-button > .clear {
    -fx-background-color: #616161;
    -fx-shape: "M 19 6.41 L 17.59 5 L 12 10.59 L 6.41 5 L 5 6.41 L 10.59 12 L 5 17.59 L 6.41 19 L 12 13.41 L 17.59 19 L 19 17.59 L 13.41 12 L 19 6.41 Z";
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-pref-width: 12px;
    -fx-pref-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}