.image-picker {
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-border-color: -fx-box-border;
    -fx-border-style: dashed outside;
}

.image-picker > .image-outer {
    -fx-padding: 4px;
}

.image-picker > .add {
    -fx-background-color: -fx-box-border;
    -fx-shape: "M 19 13 H 13 V 19 H 11 V 13 H 5 V 11 H 11 V 5 H 13 V 11 H 19 V 13 Z";
    -fx-pref-width: 2em;
    -fx-pref-height: 2em;
    -fx-max-width: 2em;
    -fx-max-height: 2em;
}

.image-picker > .clear-button {
    -fx-background-color: -fx-box-border;
    -fx-background-radius: 8px;
    -fx-translate-x: 8px;
    -fx-translate-y: -8px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.image-picker > .clear-button > .clear {
    -fx-background-color: -fx-background;
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
    -fx-max-width: 8px;
    -fx-max-height: 8px;
    -fx-shape: "M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z";
}