.popup-alert > .content {
    -fx-background-color: white;
    -fx-padding: 0.33em 0.5em 0.33em 0.5em;
}

.popup-alert > .content > .label {
    -fx-fill: black;
}

.popup-alert > .content > .close-button {
    -fx-padding: 3;
    -fx-background-color: #808080;
    -fx-shape: "M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z";
    -fx-min-width: 10;
    -fx-min-height: 10;
    -fx-max-width: 10;
    -fx-max-height: 10;
}

.popup-alert:error > .content {
    -fx-background-color: #ff9090, #ffa0a0;
    -fx-background-insets: 0, 1;
}

.popup-alert:warning > .content {
    -fx-background-color: #ffe060, #ffe790;
    -fx-background-insets: 0, 1;
}

.popup-alert:info > .content {
    -fx-background-color: #40a0ff, #60c0ff;
    -fx-background-insets: 0, 1;
}

.popup-alert:success > .content {
    -fx-background-color: #50e050, #80e080;
    -fx-background-insets: 0, 1;
}