.tip {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2;
    -fx-padding: 0.333333em;
}

.tip > .label {
    -fx-fill: -fx-text-base-color;
}

.tip > .close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-effect: dropshadow(two-pass-box, rgba(255, 255, 255, 0.4), 1, 0.0, 0, 1);
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

.tip > .close-button:hover {
    -fx-background-color: derive(-fx-mark-color, -30%);
}
