.form > .scroll-pane {
    -fx-background-color: transparent;
}

.form > .scroll-pane > .viewport {
    -fx-background-color: white;
}

.form > .scroll-pane > .viewport > * > VBox {
    -fx-padding: 2em;
    -fx-spacing: 1em;
}

.form > .scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
}

.form-section > .content {
    -fx-background-color: white;
}

.form-group,
.form-section > .content > .grid {
    -fx-alignment: center-left;
    -fx-padding: 0.75em 0.75em 0.75em 0;
    -fx-vgap: 0.75em;
}

.form-field-label {
    -fx-padding: 0.25em 0.25em 0.25em 0.75em;
}